body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #166169;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0.5rem 0 0;
}

a {
    color: #333;
    text-decoration: none;
}

#skills, #experience, #projects, #certifications, #education {
    padding: 2rem;
    background: #fff;
    margin: 1rem 0;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}
